<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="hidden-xs hidden-sm col-md-7 col-lg-7 pull-right" style="padding-right: 20px; margin-left: 1em;">
                {% include 'MainSite/includes/indexgraph.html' %}
            </div>
            <h3>JBU: Energy Monitoring Project</h3>
            <div class="text-justify">
                <p>
                    The Balzer Technology Center contains several renewable energy resources - two solar arrays and a wind
                    turbine. The wind turbine is only used for research purposes and does not contribute any power to the
                    system, but the solar arrays (called fronius and enphase) do contribute to the power used by the
                    building. The Energy Monitoring Project was started by Dr. Ted Song to measure and display the
                    contributions of each of the sources. The graph to the left displays the last 24 hours of energy usage
                    and consumption measured from the building and the solar arrays.
                </p>
            </div>
            <div class="hidden-md hidden-lg">
                <h6>Graph hidden on mobile.</h6>
            </div>
        </div>
    </div>
</div>