<h1>JBU Wind Turbine</h1>
<p>
    The wind turbine is a WindSpot 3.5 kW turbine. It is only used for research purposes and does not contribute any
    power to BTC. It also collects other information such as wind speed, humidity, temperature, etc. When the wind speed
    is low, the wind turbine actually uses power. This is to maintain a high inverter voltage. Unfortunately, it rarely
    has a high enough wind speed to make up for the used power. Hence, over time, it contributes negatively to the
    system over time. However, it does provide research into wind production for the NWA area.
</p>