<div class="row">
    <div id="btc-power-graph">
        <h3 style="text-align: center">Wind Turbine Power Production</h3>
        <svg style="height: 300px; width: 90%; display: block; margin: auto;"></svg>
    </div>
</div>

<script>
    var histcatexplong = [
        {
            "key" : "Wind Turbine Energy" ,
            "values" : {{ wind_today }}
        } ,

    ];
    var colors = d3.scale.category20();
    var chart;
    nv.addGraph(function() {
        chart = nv.models.stackedAreaChart()
            .useInteractiveGuideline(false)
            .x(function(d) { return d[0] })
            .y(function(d) { return d[1] })
            .controlLabels({stacked: "Stacked"})
            .duration(300);
        chart._options.controlOptions = ['Stacked', 'Expanded'];
        chart.xAxis.tickFormat(function(d) { return d3.time.format('%x')(new Date(d)) });
        chart.yAxis.tickFormat(d3.format('s'));
        chart.color(["#5DADE2"])
        chart.legend.vers('furious');
        d3.select('#btc-power-graph svg')
            .datum(histcatexplong)
            .transition().duration(1000)
            .call(chart)
            .each('start', function() {
                setTimeout(function() {
                    d3.selectAll('#chart1 *').each(function() {
                        if(this.__transition__)
                            this.__transition__.duration = 1;
                    })
                }, 0)
            });
        nv.utils.windowResize(chart.update);
        return chart;
    });

</script>