{% extends 'MainSite/base.html' %}

{% block title %}Home{% endblock title %}

{% block container %}
    <div class="container">
        <img class="img-responsive" src="{% static 'Resources/Images/btc_1.jpg' %}">
        <div class="well well-sm" style="margin-bottom: 10px;">
            <div class="row hidden-lg hidden-md">
                <div class="col-xs-6">
                    Renewable: {{ totalPower | floatformat:2 }} W
                </div>
                <div class="col-xs-6">
                    Grid: {{ selPower | floatformat:2 }} kW
                </div>
            </div>
            <div class="row hidden-sm hidden-xs">
                <div class="col-md-3">
                    Wind Energy: {{ windPower | floatformat:2 }}/3500 W
                </div>
                <div class="col-md-3">
                    Enphase Energy: {{ enphasePower | floatformat:2 }}/5500 W
                </div>
                <div class="col-md-3">
                    Fronius Energy: {{ froniusPower | floatformat:2 }}/5500 W
                </div>
                <div class="col-md-3">
                    Grid Energy: {{ selPower | floatformat:2 }} kW
                </div>
            </div>
        </div>
    </div>
    {% include 'MainSite/includes/indexdescription.html' %}

{% endblock container %}