<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../../static/Resources/CSS/MainPage.css">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.css">

</head>
<body>
<nav class="navbar navbar-default" style="border-radius: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">JBU Energy Monitoring</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 5%">
        <div class="col-lg-6">
            <div class="row">
               <div class="jumbotron">
                    <h2>Balzer Power Usage</h2>
                    <p>{{ selPower|floatformat:2 }} MW</p>
                </div>
            </div>
            <div class="row">
                <div class="jumbotron">
                    <h2>Wind Data</h2>
                    <p>{{ windPower|floatformat:2 }} kW</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h2>Solar Data</h2>
                <h3>Enphase</h3>
                <p>{{ enphasePower|floatformat:2 }} kW</p>
                <h3>Fronius</h3>
                <p>{{ froniusPower|floatformat:2 }} kW</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <h2>Total Power Produced</h2>
            <p> NA </p>
        </div>
    </div>

    <div class="row"></div>
</div>

</body>
</html>