{% extends 'MainSite/base.html' %}

{% block title %}Home{% endblock title %}

{% block container %}
    <div class="container">
    <div class="row" style="margin-top: 5%">
        <div class="col-lg-6">
            <div class="row">
               <div class="jumbotron">
                    <h2>Balzer Power Usage</h2>
                    <p>{{ selPower|floatformat:2 }} kW</p>
                </div>
            </div>
            <div class="row">
                <div class="jumbotron">
                    <h2>Wind Data</h2>
                    <p>{{ windPower|floatformat:2 }} W</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h2>Solar Data</h2>
                <h3>Enphase</h3>
                <p>{{ enphasePower|floatformat:2 }} W</p>
                <h3>Fronius</h3>
                <p>{{ froniusPower|floatformat:2 }} W</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="jumbotron">
            <h2>Total Power Produced</h2>
            <p> {{ totalPower | floatformat:2 }}</p>
        </div>
    </div>
    <div class="row"></div>
</div>

<script>
window.setTimeout(function(){ document.location.reload(true); }, 30000);
</script>
{% endblock container %}