<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="../../static/Resources/CSS/MainPage.css">
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/bootstrap-3.3.6-dist/css/bootstrap.css">
    <script src="../../static/Resources/js/jquery-2.2.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-lg-offset-4">
                <div class="btn-default">
                    <button type="button" class="btn btn-default" id="btn1">Push me!</button>
                    <button type="button" class="btn btn-default" id="btn2">I will change</button>
                </div>
            </div>
        </div>
    </div>



    <script>
    $(function(){
        $('#btn1').
    })


    </script>

</body>
</html>

